/* src/components/Header.css */
.App {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.active .page-link {
  background-color: #ddd;
  color: #fff;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

/* Logo image styling */
.logo_img {
  width: 200px;
  margin-left: 0;
}


.header_menu {
  display: flex;
  gap: 60px;
}

.header_menu a {
  color: #fff;
  /*bold font*/
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}

.header_menu a:hover {
  text-decoration: underline;
}

.header_search input {
  padding: 5px;
  size: 40px 100px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.header_login {
  padding: 5px 10px;
  background-color: #e6925a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header_login:hover {
  background-color: #ffffff;
  color : #e6925a;
}

.header_separator {
  border-right: 1px solid #fff;
  height: 10%;
  margin-right: 100px;
}

/*Now on theaters */
/* Styling for the featured section */
.section1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  
}

.section1_img {
  width: 100%;
  height: auto;
}

.section1_header {
  font-size: 28px;
  text-align: left;
  margin-left: 30px;
  color: white; 
  margin-top: 10px;
}


/* Footer Styling */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: #fff;
}

.footer_column {
  width: 30%;
}

.footer_logo {
  width: 150px;
  margin-bottom: 10px;
}

.footer_socials {
  display: flex;
  gap: 15px;
}

.footer_social-icon {
  width: 25px;
  height: 25px;
}

.footer_column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer_column ul {
  list-style-type: none;
  padding: 0;
}

.footer_column ul li {
  margin: 5px 0;
}

.footer_column ul li a {
  color: whitesmoke;
  text-decoration: none;
}

.footer_column ul li a:hover {
  text-decoration: underline;
}
