.watchlist {
	padding: 20px;
	text-align: center;
  }

.watchlist-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 0px;
	margin-top: 20px;
  }
  
  .watchlist-item {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center items horizontally */
	
}
