.public-reviews {
  text-align: center;
  font-family: Arial, sans-serif;
}

.public-reviews__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.public-reviews__search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.public-reviews__list {
  list-style: none;
  padding: 0;
}

.public-reviews__list-item {
  margin-bottom: 20px;
}
