.movie-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 10px;
  }
  
  .search-results-text {
	margin-top: 25px; /* Add space above */
	padding-left: 45px; /* Add space to the left */
	font-size: 2rem;
	color: #333;
  }
  
  .pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 20px 0;
  }
  
  .page-item {
	margin: 0 5px;
  }
  
  .page-link {
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	color: #333;
	text-decoration: none;
  }
  
  .page-link:hover {
	background-color: #f0f0f0;
  }
  
  .active .page-link {
	background-color: #ddd;
	color: #fff;
  }