.profile-watchlist-grid {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
    gap: 50px; /* Space between grid items */
    justify-content: center; /* Center items in the grid */
	padding: 30px;
	}